*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #353535;
}
.instructions{
    width: 100vw;
    height: 20vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 0px;
}
.instructions h1{
    font-size: 4rem;
    color: #ef476f;
    font-family: 'Press Start 2P', cursive;
}
.instructions p{
    font-size: 2rem;
    color: #f8f9fa;
    font-family:'Averia Libre', cursive;
    margin-top: 10px;
}
.colors{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
.colors-container{
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    transition: ratate 2s;
}
.levels{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.levels-container{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.level{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.2rem;
    color: #353535;
    background-color: #454545;
}
#red{
    width: 50%;
    height: 50%;
    background-color: #ef476f;
    border-right: #353535 solid 2px;
    border-bottom: #353535 solid 2px;
}
#yellow{
    width: 50%;
    height: 50%;
    background-color: #ffd166;
    border-top: #353535 solid 2px;
    border-left: #353535 solid 2px;
}
#green{
    width: 50%;
    height: 50%;
    background-color: #06d6a0;
    border-right: #353535 solid 2px;
    border-top: #353535 solid 2px;
}
#blue{
    width: 50%;
    height: 50%;
    background-color: #118ab2;
    border-left: #353535 solid 2px;  
    border-bottom: #353535 solid 2px;
}
.illuminated{
    opacity: 0.4;
}
#listo{
    width: 185px;
    height: 95px;
    position: absolute;
    align-self: center;
    right: calc(25%);
    border-radius: 20px;
    border: solid #353535 4px;
    background-color: #f8f9fa;
    font-size: 2.4rem;
    font-family: 'Press Start 2P', cursive;
    color: #353535;
    font-weight: bold;
    transition: 450ms transform;
}
.hide{
    display: none;
}